<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- css ---------------------------------------------------------------->
    <link rel="stylesheet" href="../../../css/style.css">

    <!-- bootstrap ---------------------------------------------------------->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!--fonts-awesome ------------------------------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <!-- meta etiqueta descripcion ------------------------------------------>
    <meta name="description" content="Il Salone es una peluquería con más de 10 años de carrera profesional y experiencia, dedicada a la imagen personal y al cuidado del cabello">

    <!-- meta kw/18 palabras ------------------------------------------------>
    <meta name="keywords" content="desarrollo web, ux, aplicaciones, pagina web, front end, developer">

    <!-- protocolo open grpah------------------------------------------------>
    <meta property="og:title" content="Il Salone Estilismo | Nosotros">
    <meta property="og:url" content="file:///C:/Users/Rodrigo/Documents/Desarrollo-web/proyecto-final-sass2/Desafio%20HTML/src/assets/views/Nosotros.html">
    <meta property="og:image" content="file:///C:/Users/Rodrigo/Documents/Desarrollo-web/proyecto-final-sass2/Desafio%20HTML/src/Multimedia/img/logo%20empresa.png">
    <meta property="og:descripcion" content="Il Salone es una peluquería con más de 10 años de carrera profesional y experiencia, dedicada a la imagen personal y al cuidado del cabello">
    <meta property="og:site_name" content="Il Salone">
    <meta property="og:type" content="website">

   <title>IL Salone Estilismo | Nosotros</title>    


    <title>Document</title>

</head>
<body>
    <!-- comienzo del header ------------------------------------------------>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-rgb(115, 137, 146); p-0">
            <div class="container-fluid " style="font-size: 23px;">
                <a class="navbar-brand p-0" href="../../../index.html">
                    <img src="../../Multimedia/img/logo empresa.png" alt="logo-empresa" width="100" height="auto">
                </a>                       
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto mb-lg-0 text-center">
                  <li class="nav-item">
                    <a class="nav-link" href="../../../index.html">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active" href="Nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Trabajo.html">Trabajos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Contacto.html">Contacto</a>
                  </li>
                </ul>                
              </div>
            </div>
          </nav>                   
    </header>
    <!-- fin de header ---------------------------------------------------------------->


 <main>
    <!-- Sección Nosotros ------------------------------------------------------------>
    <h2 class="display-1 text-center mt-3">Nosotros</h2>
    <section class="container-fluid mb-5 mt-5">
    <!--grid system ------------------------------------------------------------------>
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <div>
                    <img src="../../Multimedia/img/socia.png" class="d-block w-100 shadow p-3 mb-5 bg-body rounded" alt="socia-erika">
                </div>

                <div>
                    <img src="../../Multimedia/img/socio.png" class="d-block w-100 shadow p-3 mb-5 bg-body rounded" alt="socio-diego">
                </div>

                <div>
                    <img src="../../Multimedia/img/socio1.png" class="d-block w-100 shadow p-3 mb-5 bg-body rounded" alt="socio-adrian">
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 ">
                <p class=" h2 text-justify mb-5 fs-1">
                Con 10 años de carrera Profesional dedicada a la imagen personal,
                IL SALONE posee su salón de peluqueria en la Ciudad de Córdoba Capital,
                en lo que presta su servicios junto a su equipo de 3 profesionales
                Ha realizado multiples acciones formativas, desfiles,
                y galas a nivel Nacional.
                <p class=" h2 text-justify mb-5 fs-1">
                Es una empresa dedicada al sector profesional del cabello,
                siendo este el gremio más conocedor de los probelmas
                capilares, es nuestro compromiso estar en constante
                evolución, que combina experiencia, investigación y capacitación.
                </p>
                <p class=" h2 text-justify mb-5 fs-1">
                Basado en esta premisa, los estilistas gozan de la exclusividad
                de la linea capilar más completa y de estudios, en donde se 
                actualizan en las nuevas tendencias y tecnologías para garantizar
                a los clientes un resultado positivo y así mantener la belleza 
                de su cabello.
                </p>
                <div class="col-lg-4 col-md-3 mx-auto">
                    <img src="../../Multimedia/img/peine-cepillo.png" class="d-block w-100 rounded" alt="imagen-parrafo">
                </div>
            </div>
        </div>
    </section>
 </main>

    <!-- comienzo del footer ----------------------------------------------------------->
    <footer class="bg-dark texte-white pt-5 pb-4">

        <div class="conteiner text-center text-md-left">

            <div class="row text-center text-md-left">
                <!-- footer descripcion il salone -------------------------------------->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Il Salone</h5>
                    <p class="text-white">
                        Elegido por muchas personas ya que, ofrece una linea de productos premium y exclusiva para el mejor cuidado de su cabello.
                    </p>                                 
                </div>
                <!-- footer seccion menu ------------------------------------------------>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">    
                    <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Secciones</h5>
                    <p>
                        <a href="../../../index.html" class="text-white" style="text-decoration: none;">Home</a>
                    </p>
                    <p>
                        <a href="Nosotros.html" class="text-white" style="text-decoration: none;">Nosotros</a>
                    </p>
                    <p>
                        <a href="Trabajo.html" class="text-white" style="text-decoration: none;">Trabajos</a>
                    </p>
                    <p>
                        <a href="Productos.html" class="text-white" style="text-decoration: none;">Productos</a>
                    </p>
                    <p>
                        <a href="Contacto.html" class="text-white" style="text-decoration: none;">Contacto</a>
                    </p>
                </div>
                <!-- footer contacto ----------------------------------------------------->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Contacto</h5>
                    <p class=" text-white">
                        <i class="fas fa-home mr-3"></i>Duarte quiros 2413, Cordoba, Argentina
                    </p>
                    <p class=" text-white">
                        <i class="fas fa-phone mr-3"></i>(0351)8824110
                    </p>
                    <p class=" text-white">
                        <i class="fas fa-envelope mr-3"></i>Lunes a Sabados de 10hs a 20hs
                    </p>
                </div>

            </div>
            <hr class="mb-4">
            <div class="row aling-items-center">
                <!-- Copyrigth -------------------------------------------------------->
                <div class="col-md-7 col-lg-8">
                    <p class="text-white">Copyrigth 2021 All rights reserved by:
                        <a href="#" style="text-decoration: none;">
                            <strong class="text-warning">Rodrigo</strong>
                        </a>
                    </p>
                </div>
                <!-- icono de instagram ----------------------------------------------->
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/il_salone_ok/" target="_blank" class="btn-floating btn.sm text-white" style="font-size:30px;">
                                    <i class="fab fa-instagram" style="color: red;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- fin footer ------------------------------------------------------------------->


    <!-- separate popper and bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>