<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- css -->
    <link rel="stylesheet" href="../../../css/style.css">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!--fonts-awesome ------------------------------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <!-- meta etiqueta descripcion ------------------------------------------>
    <meta name="description" content="Il Salone es una peluquería con más de 10 años de carrera profesional y experiencia, dedicada a la imagen personal y al cuidado del cabello">

    <!-- meta kw/18 palabras ------------------------------------------------>
    <meta name="keywords" content="desarrollo web, ux, aplicaciones, pagina web, front end, developer">

    <!-- protocolo open grpah------------------------------------------------>
    <meta property="og:title" content="Il Salone Estilismo | Productos">
    <meta property="og:url" content="file:///C:/Users/Rodrigo/Documents/Desarrollo-web/proyecto-final-sass2/Desafio%20HTML/src/assets/views/Nosotros.html">
    <meta property="og:image" content="file:///C:/Users/Rodrigo/Documents/Desarrollo-web/proyecto-final-sass2/Desafio%20HTML/src/Multimedia/img/logo%20empresa.png">
    <meta property="og:descripcion" content="Il Salone es una peluquería con más de 10 años de carrera profesional y experiencia, dedicada a la imagen personal y al cuidado del cabello">
    <meta property="og:site_name" content="Il Salone">
    <meta property="og:type" content="website">

   <title>IL Salone Estilismo | Productos</title>


    <title>Document</title>

</head>
<body>
 <!-- comienzo del header ------------------------------------------------>
 <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-rgb(115, 137, 146); p-0">
        <div class="container-fluid " style="font-size: 23px;">
            <a class="navbar-brand p-0" href="../../../index.html">
                <img src="../../Multimedia/img/logo empresa.png" alt="logo-empresa" width="100" height="auto">
            </a>                       
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link" href="../../../index.html">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="Nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Trabajo.html">Trabajos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="Productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Contacto.html">Contacto</a>
              </li>
            </ul>                
          </div>
        </div>
      </nav>                   
</header>
<!-- fin de header ---------------------------------------------------------------->

<!-- seccion de productos --------------------------------------------------------->
<main class="container-fluid"> 
<div class="product-content">
    <h2 class="h2-titulo">Kérastase</h2> 
    <p class="p-densifique" style="text-align:justify">Savoir Faire de Kérastase, combinado con los consejos profesionales de los estilistas, 
    ofrece los mejores shampoos y bálsamos que lavan perfectamente el cabello y lo dejan sublime y suave al tacto.
    </p>
</div> 
    <ul class="grid product-grid d-flex flex-wrap">
    <li data-id="0" class="view-in">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/Bain-Micellaire-Riche-Aura-Botanica-250ml-Kerastase.png" alt="Bain-Micellaire-Riche-Aura-Botanica-250ml" class="shadow p-3 mb-5 bg-body rounded">
        </div>  
        <div class="product-item-info">
            <a href="https://www.kerastase.com.ar/productos/aura-botanica/bain-micellaire-riche">
        <div role="presentation">
        <div class="product-image-description">
        <span class="image-description-block">Detalles y rutina</span>
        <span class="color-border-bar" style="background-color: rgb(100, 39, 37);"></span>
            </a>
        </div>
        </div>
        <h2 class="product-subtitle">Brillo saludable, Nutrición, Antifrizz</h2>  
        <div class="product-color-bar" style="background-color: rgb(100, 39, 37);"></div> 
            <h3 class="product-name">Bain Micellaire Riche</h3>
        <div data-bv-show="inline_rating" data-bv-product-id="03474636471515" data-bv-seo="false"></div> 
        <p class="product-description">Champú 96% de origen natural, rico y nutritivo que otorga 48 horas de nutrición profunda.</p>
        </div>
    </article>
    </li>
    <!-- -- -->
<li data-id="1" class="view-in">
    <article class="row" >
        <div class="product-item">
        <div class="product-item-box">
            <div class="product-item-image">
                <img src="../../Multimedia/img/Bain-Densite-Densifique-250ml-01-Kerastase.png" alt="Bain-Densite-Densifique-250ml" class="shadow p-3 mb-5 bg-body rounded">
            </div> 
    <div class="product-item-info">
        <a href="https://www.kerastase.com.ar/productos/densifique/bain-densite">
    <div role="presentation">
        <div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(241, 234, 222);"></span>
        </a>
    </div>
        </div> 
    <h2 class="product-subtitle">Densidad</h2> 
        <div class="product-color-bar" style="background-color: rgb(241, 234, 222);"></div> 
        <h3 class="product-name">Bain Densité</h3> 
        <p class="product-description">Baño corporizante que engrosa el cabello adelgazado dejándolo más dócil.</p>
        </div>
    </article>
</li>
    <!-- -- -->
<li data-id="2" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
            <div class="product-item-image">
                <img src="../../Multimedia/img/Bain-Densite-Homme-Densifique-120ml-01-Kerastase.png" alt="Densite-Homme-Densifique-120ml-01-Kerastase" class="shadow p-3 mb-5 bg-body rounded">
            </div> 
        <div class="product-item-info">
            <a href="https://www.kerastase.com.ar/productos/densifique/bain-densite-homme">
        <div role="presentation">
            <div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            </a> 
            <span class="color-border-bar" style="background-color: rgb(241, 234, 222);"></span>
        </div>
        </div> 
        <h2 class="product-subtitle">Densidad</h2> 
        <div class="product-color-bar" style="background-color: rgb(241, 234, 222);"></div> 
        <h3 class="product-name">Bain Densité Homme</h3>
        <div data-bv-show="inline_rating" data-bv-product-id="03474636356072" data-bv-seo="false"></div>
        <p class="product-description">Baño para hombres que engrosa y fortifica el cabello adelgazado, dejándolo con más densidad.</p>
        </div>
    </article>
</li>
    <!-- -- --> 
<li data-id="3" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
            <div class="product-item-image">
                <img src="../../Multimedia/img/Bain-Fluidealiste-Sulfate-Free-Discipline-250ml-01-Kerastase.png" alt="Bain-Fluidealiste-Sulfate-Free-Discipline-250ml" class="shadow p-3 mb-5 bg-body rounded">
            </div> 
        <div class="product-item-info">
            <a href="https://www.kerastase.com.ar/productos/discipline/bain-fluidealiste-sulfate-free">
        <div role="presentation">
        <div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(232, 158, 139);"></span>
            </a> 
        </div>
        </div> 
        <h2 class="product-subtitle">Antifrizz</h2> 
        <div class="product-color-bar" style="background-color: rgb(232, 158, 139);"></div> 
        <h3 class="product-name">Bain Fluidéaliste Sulfate Free</h3> 
        <p class="product-description">Baño suavizante sin sulfatos que deja el cabello disciplinado y con movimiento.</p>
        </div>
    </article>
</li>
    <!-- -- -->
<li data-id="4" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
            <div class="product-item-image">
                <img src="../../Multimedia/img/Cleansing-Conditioner-Curl-Ideal-Discipline-400ml-01-Kerastase.png" alt="Cleansing-Conditioner-Curl-Ideal-Discipline-400ml" class="shadow p-3 mb-5 bg-body rounded">        
        <div role="presentation">
            <div class="product-image-description">
                <a href="hhttps://www.kerastase.com.ar/productos/discipline/cleansing-curl-conditioner-ideal">
                <span class="image-description-block">Detalles y rutina</span> 
                <span class="color-border-bar" style="background-color: rgb(232, 158, 139);"></span>
                </a>
            </div>
        </div> 
        <h2 class="product-subtitle">Definición de los rizos, Antifrizz</h2>  
        <div class="product-color-bar" style="background-color: rgb(232, 158, 139);"></div> 
        <h3 class="product-name">Cleansing Conditioner Curl Idéal</h3>
        <p class="product-description">Acondicionador lavante para una perfecta definición de los rizos con un acabado suave y natural.</p>
            </div>
        </div>
        </div>
    </article>
</li>
<!-- -- -->
<li data-id="5" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/Bain-Satin-1-Nutritive-250ml-01-Kerastase.png" alt="Bain-Satin-1-Nutritive-250ml" class="shadow p-3 mb-5 bg-body rounded">
        <div role="presentation">
        <div class="product-image-description">
            <a href="https://www.kerastase.com.ar/productos/nutritive/bain-satin-1">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(239, 88, 44);"></span>
            </a>
        </div>
        </div> 
        <h2 class="product-subtitle">Nutrición</h2> 
    <div class="product-color-bar" style="background-color: rgb(239, 88, 44);"></div>
     <h3 class="product-name">Bain Satin 1</h3>
        </div> 
    <p class="product-description">Shampoo de nutrición profunda para cabello normal a ligeramente seco</p>
        </div>
        </div> 
    </article>
</li>
<!-- -- -->
<li data-id="6" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/Bain-Satin-2-Nutritive-250ml-01-Kerastase.png" alt="Bain-Satin-2-Nutritive-250ml" class="shadow p-3 mb-5 bg-body rounded">
        </div>
            <div class="product-item-info">
            <div role="presentation">
                <a href="https://www.kerastase.com.ar/productos/nutritive/bain-satin-2">
            <div class="product-image-description">
                <span class="image-description-block">Detalles y rutina</span> 
                <span class="color-border-bar" style="background-color: rgb(239, 88, 44);"></span>
            </div>
                </a> 
            </div> 
            <h2 class="product-subtitle">Nutrición</h2> 
            <div class="product-color-bar" style="background-color: rgb(239, 88, 44);"></div>
            <h3 class="product-name">Bain Satin 2</h3>
            <p class="product-description">Shampoo excepcional para una nutrición duradera de cabello seco y sensibilizado.</p>
            </div>
        </div>
        </div> 
    </article>
</li>
<!-- -- -->
<li data-id="7" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/Bain-Magistral-Nutritive-250ml-01-Kerastase.png" alt="Bain-Magistral-Nutritive-250ml" class="shadow p-3 mb-5 bg-body rounded">
        </div> 
        <div class="product-item-info">
            <a href="https://www.kerastase.com.ar/productos/nutritive/bain-magistral">
        <div role="presentation"><div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(239, 88, 44);"></span>
            </a>
        </div>
        </div> 
        <h2 class="product-subtitle">Nutrición</h2> 
        <div class="product-color-bar" style="background-color: rgb(239, 88, 44);"></div> 
        <h3 class="product-name">Bain Magistral</h3> 
        <p class="product-description">Shampoo de nutrición profunda para cabello seco a muy seco.</p>
        </div>
    </article>
</li>
<!-- -- -->
<li data-id="10" class="view-out--below view-out">
    <article>
        <div class="product-item">
            <div class="product-item-box">
                <div class="product-item-image">
                    <img src="../../Multimedia/img/Bain-Force-Architecte-Resistance-250ml-01-Kerastase.png" alt="Bain-Force-Architecte-Resistance-250ml" class="shadow p-3 mb-5 bg-body rounded">
                </div> 
            <div class="product-item-info">
                <a href="https://www.kerastase.com.ar/productos/resistance/bain-force-architecte">
            <div role="presentation">
            <div class="product-image-description">
                <span class="image-description-block">Detalles y rutina</span> 
                <span class="color-border-bar" style="background-color: rgb(0, 156, 158);"></span>
                </a>
            </div>
            </div> 
            <h2 class="product-subtitle">Reparación</h2> 
            <div class="product-color-bar" style="background-color: rgb(0, 156, 158);"></div> 
            <h3 class="product-name">Bain Force Architecte</h3> 
        <p class="product-description">Primer tratamiento acondicionador de reversión de daños para reparar cabellos muy debilitados.</p>
        </div>
    </article>
</li>
<!-- -- -->
<li data-id="11" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/Bain-Therapiste-Resistance-250ml-01-Kerastase.png" alt="Bain-Therapiste-Resistance-250ml" class="shadow p-3 mb-5 bg-body rounded">
        </div> 
        <div class="product-item-info">
            <a href="https://www.kerastase.com.ar/productos/resistance/bain-therapiste">
        <div role="presentation">
        <div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(0, 156, 158);"></span>
            </a> 
        </div>
        </div> 
        <h2 class="product-subtitle">Reparación</h2> 
        <div class="product-color-bar" style="background-color: rgb(0, 156, 158);"></div> 
        <h3 class="product-name">Bain Thérapiste</h3> <!---->
        </div> 
        <p class="product-description">Shampoo renovador con textura extracremosa para reparar el cabello dañado.</p>
    </article>
</li>
<!-- loreal --------------------------------------------------------------------------->
<div class="product-content">
    <h2 class="h2-titulo">L’Oréal Professionnel</h2> 
    <p class="p-densifique" style="text-align:justify">La marca internacional que se vende exclusivamente en salones de peluquería.</p>
</div> 
<li data-id="12" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/BLONDIFIER_Mask_POT 250 ML_FRONT.png" alt="BLONDIFIER_Mask_POT 250 ML_FRONT" class="shadow p-3 mb-5 bg-body rounded">
        </div> 
        <div class="product-item-info">
            <a href="https://www.lorealprofessionnel.com.ar/tratamientos/blondifier/m%C3%A1scara-restoring-masque">
        <div role="presentation">
        <div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(0, 156, 158);"></span>
            </a> 
        </div>
        </div> 
        <h2 class="product-subtitle">Mascarilla</h2> 
        <div class="product-color-bar" style="background-color: rgb(0, 156, 158);"></div> 
        <h3 class="product-name">Mascara para el cabello</h3> <!---->
        </div> 
        <p class="product-description">Mascarilla reparadora e iluminadora.</p>
    </article>
</li>
<!-- -- -->
<li data-id="13" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/OilLightMasque_MythicOil.jpg" alt="OilLightMasque_MythicOil" class="shadow p-3 mb-5 bg-body rounded">
        </div> 
        <div class="product-item-info">
            <a href="https://www.lorealprofessionnel.com.ar/tratamientos/blondifier/m%C3%A1scara-restoring-masque">
        <div role="presentation">
        <div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(0, 156, 158);"></span>
            </a> 
        </div>
        </div> 
        <h2 class="product-subtitle">Mascarilla</h2> 
        <div class="product-color-bar" style="background-color: rgb(0, 156, 158);"></div> 
        <h3 class="product-name">Mascara para el cabello</h3> <!---->
        </div> 
        <p class="product-description">Mascarilla cabello normal a fino.</p>
    </article>
</li>
<!-- -- -->
<li data-id="14" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/OilLightMasque_MythicOil.jpg" alt="OilLightMasque_MythicOil" class="shadow p-3 mb-5 bg-body rounded">
        </div> 
        <div class="product-item-info">
            <a href="https://www.lorealprofessionnel.com.ar/tratamientos/mythic-oil/m%C3%A1scara-m%C3%A1scara-cabello-grueso">
        <div role="presentation">
        <div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(0, 156, 158);"></span>
            </a> 
        </div>
        </div> 
        <h2 class="product-subtitle">Macarilla</h2> 
        <div class="product-color-bar" style="background-color: rgb(0, 156, 158);"></div> 
        <h3 class="product-name">Mascara para el cabello</h3> <!---->
        </div> 
        <p class="product-description">Mascarilla cabello grueso.</p>
    </article>
</li>
<!-- -- -->
<li data-id="14" class="view-out--below view-out">
    <article>
        <div class="product-item">
        <div class="product-item-box">
        <div class="product-item-image">
            <img src="../../Multimedia/img/Packshot_SerieExpert_Powermix_Nutri.jpg" alt="Packshot_SerieExpert_Powermix_Nutri" class="shadow p-3 mb-5 bg-body rounded">
        </div> 
        <div class="product-item-info">
            <a href="https://www.lorealprofessionnel.com.ar/tratamientos/powermix/m%C3%A1scara-powermix-nutri">
        <div role="presentation">
        <div class="product-image-description">
            <span class="image-description-block">Detalles y rutina</span> 
            <span class="color-border-bar" style="background-color: rgb(0, 156, 158);"></span>
            </a> 
        </div>
        </div> 
        <h2 class="product-subtitle">Mascarilla</h2> 
        <div class="product-color-bar" style="background-color: rgb(0, 156, 158);"></div> 
        <h3 class="product-name">Mascara para el cabello</h3> <!---->
        </div> 
        <p class="product-description">Powermix nutri.</p>
    </article>
</li>

</ul>
</main>
<!-- fin seccion de productos ---------------------------------------------------------->

    <!-- comienzo del footer ----------------------------------------------------------->
    <footer class="bg-dark texte-white pt-5 pb-4">

        <div class="conteiner text-center text-md-left">

            <div class="row text-center text-md-left">
                <!-- footer descripcion il salone -------------------------------------->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Il Salone</h5>
                    <p class="text-white">
                        Elegido por muchas personas ya que, ofrece una linea de productos premium y exclusiva para el mejor cuidado de su cabello.
                    </p>                                 
                </div>
                <!-- footer seccion menu ------------------------------------------------>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">    
                    <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Secciones</h5>
                    <p>
                        <a href="../../../index.html" class="text-white" style="text-decoration: none;">Home</a>
                    </p>
                    <p>
                        <a href="Nosotros.html" class="text-white" style="text-decoration: none;">Nosotros</a>
                    </p>
                    <p>
                        <a href="Trabajo.html" class="text-white" style="text-decoration: none;">Trabajos</a>
                    </p>
                    <p>
                        <a href="Productos.html" class="text-white" style="text-decoration: none;">Productos</a>
                    </p>
                    <p>
                        <a href="Contacto.html" class="text-white" style="text-decoration: none;">Contacto</a>
                    </p>
                </div>
                <!-- footer contacto ----------------------------------------------------->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weigth-bold text-warning">Contacto</h5>
                    <p class=" text-white">
                        <i class="fas fa-home mr-3"></i>Duarte quiros 2413, Cordoba, Argentina
                    </p>
                    <p class=" text-white">
                        <i class="fas fa-phone mr-3"></i>(0351)8824110
                    </p>
                    <p class=" text-white">
                        <i class="fas fa-envelope mr-3"></i>Lunes a Sabados de 10hs a 20hs
                    </p>
                </div>

            </div>
            <hr class="mb-4">
            <div class="row aling-items-center">
                <!-- Copyrigth -------------------------------------------------------->
                <div class="col-md-7 col-lg-8">
                    <p class="text-white">Copyrigth 2021 All rights reserved by:
                        <a href="#" style="text-decoration: none;">
                            <strong class="text-warning">Rodrigo</strong>
                        </a>
                    </p>
                </div>
                <!-- icono de instagram ----------------------------------------------->
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/il_salone_ok/" target="_blank" class="btn-floating btn.sm text-white" style="font-size:30px;">
                                    <i class="fab fa-instagram" style="color: red;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- fin footer ------------------------------------------------------------------->
    
    <!-- separate popper and bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>