header{
    .navbar{
        box-shadow: 2px 2px 5px #000;
        opacity: .9;
    }
    nav{
        background-color: rgb(115, 137, 146);
        padding: 0;
            ul{
            text-align: center;
            }
        }
    }
