@import '../base/variables';


#nosotros{
    position: relative;
    background-image: url(../src/Multimedia/img/fondo7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
#nosotros .background-overlay{
    position: absolute;
    background: rgba(45, 45, 46, 0.7);
    top: 0;
    left: o;
    width: 100%;
    height: 100%;
}
#nosotros{
        h2{
            text-align: $text-titulo;
            font-size: $fs-titulo;
            font-family: $ff-titulo;
            color: $color1;
            padding: 30px;
        }
            p{
                font-family: $ff-parrafo; 
                color: $color1;
                margin-top: 35px;
                padding: 30px;
                font-size: $fs-parrafo;
                text-align: $text-parrafo;
            }
                .boton-nosotros{
                   
                }
                    .informacion{
                        @extend %boton-contenido;
                    }

}